openapi: 3.2.0
info:
  title: Massey Research Online (Pātaka Rangahau) REST Core API
  version: '8.3'
  summary: Read interface to Massey University's institutional research repository, self-hosted on mro.massey.ac.nz.
  description: Massey Research Online / Pātaka Rangahau is Massey University's institutional repository of theses, dissertations and research outputs.
  contact:
    name: Massey University Library IT
    email: LibIT@massey.ac.nz
    url: https://mro.massey.ac.nz/
  termsOfService: https://www.massey.ac.nz/about/policies-procedures-and-guidelines/
servers:
- url: https://mro.massey.ac.nz/server
  description: Massey Research Online production DSpace backend
tags:
- name: Core
  description: Communities, collections, items and bitstreams.
paths:
  /api/core/communities:
    get:
      operationId: listCommunities
      summary: List top-level and sub communities
      description: Public. Verified 200 on 2026-09-01; 19 communities in the repository.
      tags:
      - Core
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Paged HAL collection of communities.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedHal'
  /api/core/collections:
    get:
      operationId: listCollections
      summary: List collections
      description: Public. Verified 200 on 2026-09-01.
      tags:
      - Core
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Paged HAL collection of collections.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedHal'
  /api/core/items:
    get:
      operationId: listItems
      summary: List items
      description: NOT public on this deployment. Verified 401 "Authentication is required" on 2026-09-01. Item metadata is reachable anonymously through the discovery search and the OAI-PMH endpoint instead.
      tags:
      - Core
      responses:
        '401':
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/core/bitstreams:
    get:
      operationId: listBitstreams
      summary: List bitstreams
      description: NOT public on this deployment. Verified 401 on 2026-09-01.
      tags:
      - Core
      responses:
        '401':
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Spring-style error body observed on this deployment.
      properties:
        timestamp:
          type: string
        status:
          type: integer
        error:
          type: string
        message:
          type: string
        path:
          type: string
      example:
        timestamp: '2026-09-01T20:41:48.069+00:00'
        status: 401
        error: Unauthorized
        message: Authentication is required
        path: /server/api/core/items
    PagedHal:
      type: object
      properties:
        _embedded:
          type: object
        _links:
          type: object
        page:
          type: object
          properties:
            size:
              type: integer
            totalElements:
              type: integer
            totalPages:
              type: integer
            number:
              type: integer
  parameters:
    Size:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        default: 20
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
x-operator: institution
x-operator-evidence: mro.massey.ac.nz resolves to 130.123.100.10 inside Massey University's own network and sits under the institution's registrable domain massey.ac.nz. The OAI-PMH Identify response names repositoryIdentifier "mro.massey.ac.nz" and adminEmail LibIT@massey.ac.nz.
x-software:
  name: DSpace
  version: '8.3'
  vendor: LYRASIS / DSpace community
  license: open source (BSD)
  note: Self-hosted open-source software, not a vendor SaaS tenancy. The contract shape is shared with every DSpace 8 installation; the deployment and its content are the institution's.
x-provenance:
  generated: '2026-09-01'
  method: derived
  acquisition: probed
  source:
  - https://mro.massey.ac.nz/server/api
  evidence:
  - url: https://mro.massey.ac.nz/server/api
    status: 200
    note: HAL root; dspaceName "Massey Research Online", dspaceVersion "DSpace 8.3"
  - url: https://mro.massey.ac.nz/server/api/core/communities
    status: 200
    note: 19 communities returned
  - url: https://mro.massey.ac.nz/server/api/core/collections
    status: 200
  - url: https://mro.massey.ac.nz/server/api/core/items
    status: 401
    note: Authentication is required
  - url: https://mro.massey.ac.nz/server/api/core/bitstreams
    status: 401
  - url: https://mro.massey.ac.nz/server/api/config/properties
    status: 405
